/**
 *  Band component
 *
 *  A band is g
 */

hr {
    margin-left: -5rem;
    margin-right: -5rem;
    border: 1px solid #e2e2e2;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;

    @include breakpoint('large') {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}

hr.full-width {
    @include bleed-x(100% 100%);
}

.band {
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include breakpoint('medium') {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}

.band--centered {
  text-align: center;
}

.band--dark {
    background-color: black;
}

.band--primary,
.band-breakout--primary {
  background-color: $primary;
}

.band--secondary {
  background-color: #3F3F3F;
}


.band--primary .band__title,
.band--secondary .band__title,
.band--secondary ul,
.band--primary .band__link,
.band--secondary .band__link,
.band-breakout--primary .band__title,
.band-breakout--primary .band__link,
.band--dark .band__title,
.band--dark .band__link {
  color: $inverse;
}

.band--secondary.band--secondary ul a {
  color: #9c9c9c;
}


.band--primary .band__intro,
.band--secondary .band__intro,
.band--dark .band__intro {
  color: $inverse-muted;
}

.band--muted .band__intro {
  color: #737373;
}

.band__title {
  color: #454545;
  font-weight: 500;
  margin-bottom: 3rem;
  font-size: 2rem;

  @include breakpoint('medium') {
    margin-bottom: 4rem;
    font-size: 3.6rem;
  }
}

.band__subtitle {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    line-height: 1.8rem;

    margin-bottom: 1.8rem;



    &__icon {
        width: 2rem;
        margin-right: 1.5rem;
    }

    @include breakpoint('medium') {
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
    }
}

.band__intro {
    line-height: 1.5;
    color: #6f6f6f;
    font-size: 1.6rem;

    @include breakpoint('medium') {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

  .band__link {
    margin-top: 2rem;
  }
}

.band__content {
    line-height: 1.5;
    color: #6f6f6f;
    font-size: 1.6rem;

    @include breakpoint('medium') {
        font-size: 1.8rem;
    }
}

.band__link {
  color: $primary;
}

.band__cta {
    margin-top: 1rem;

    @include breakpoint('large') {
        margin-top: 3rem;
    }
}
