/**
 *  Button component.
 */

.button {
  padding: 20px 40px;
  display: inline-block;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  border-radius: 3px;

  transition: all .3s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary-dark;

  &:hover {
    background-color: #585858;
    border-color: #232323;
  }
}
