/**
 *  Button component.
 */

.button {
  padding: 1.5rem 4rem;
  display: inline-block;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  border-radius: 5px;

  transition: all .3s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary-dark;

  &:hover {
    background-color: $primary-dark;
    border-color: $primary-darker;
  }
}
