/**
 *  Single post styles, e.g. www.dmoffat.com/posts/32121/3213212
 */

.post {
  &__meta {
    margin-bottom: 20px;
    overflow: hidden;

    &__date {
      display: block;
      margin-right: 10px;
      float: left;

      color: $brand;
      font-weight: bold;
    }

    &__commentcount {
      display: block;
      float: left;

      color: #454545;
      text-decoration: underline;
    }
  }

  &__content {
    padding-top: 20px;
    border-top: 1px dotted #D4D4D4;
    margin-bottom: 40px;
  }

  &__comments {
    background-color: #ccc;
    padding: 30px;
  }
}
