/**
 * 	Main website stylesheet.
 *
 *  susy docs: http://susydocs.oddbird.net/en/latest/shorthand/
 *
 */

// todo: susy, breakpoint, config, grid!

// Vendor libraries
@import 'vendor/normalise';
@import '../../bower_components/susy/sass/susy';

// Generic styles used on almost every page
@import 'common/variables';
@import 'common/mixins';
@import 'common/baseline';
@import 'common/typography';
@import 'common/helpers';
@import 'common/layout';
@import 'common/animations';

// Fully styled components that should work anywhere regardless of context
@import 'components/navigation';
@import 'components/button';
@import 'components/band';

// One off, page specific styles
@import 'specific/homepage';
@import 'specific/scene';

.back-to-top {
    font-size: 1.4rem;
    color: $primary;
    float: right;
    font-weight: normal;
    display: block;

    @include breakpoint('small') {
        display: none;
    }
}

.icon {
    width: 1.5rem;
    display: inline-block;
}

.mobile-navigation {
    display: inline-block;
    margin-top: .5rem;
    float: right;
    width: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__icon {
      fill: #FFF;
    }

    @include breakpoint('wide') {
        display: none;
    }
}

.section--experience {}

.project-list {}

.project {
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 1.8rem;
    border-bottom: 1px dashed #ccc;

    &:last-child {
        border: none;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        padding-left: 0;
        list-style-type: none;
        font-size: 1.6rem;

        li {
            margin-bottom: .3rem;
        }
    }

    &__image {
        width: 25rem;
    }

    &__left {
        @include span(3);
    }

    &__right {
        @include span(9);
    }
}

.project--reversed {
    .project__left {
        @include span(9);
    }

    .project__right {
        @include span(3);
    }
}

.project:nth-child(odd) {
    // background-color: #CCC;
}

.project--one {}
.project-two {}
.project-three {}

.project-nav-list {
    font-size: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;

    a {
        text-decoration: none;
        margin-bottom: 1.5rem;
        display: block;
    }
}

.brand-logo {
  display: block;
  padding-right: 5rem;
  color: $inverse;
  font-size: 2.5rem;
  line-height: 2.25rem;
    padding-top: 2rem;

  @include breakpoint('small') {
      font-size: 2.5rem;
  }
}

.banner-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #64727C;
}

.website-header.is-visible {
    transform: translateY(0);
}

.website-header {
    position: fixed;
    transform: translateY(-100%);
    width: 100%;
    background-color: #454545;
    z-index: 1099;
    transition: all .15s ease-out;

  @include breakpoint('small') {
      transform: translateY(0);
      position: relative;
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: rgba(0, 0, 0, 0.0);
      overflow: hidden;
  }
}

.website-footer {
  background-color:#515151;
  padding: 2rem 0;
}

.website-header__brand {
    float: left;

    @include breakpoint('small') {
        @include span(3 of 12);
    }

}

.website-header__nav {
    @include breakpoint('small') {
        @include span(9 of 12);
    }
}

.website-header__nav .navigation {
    display: none;

    @include breakpoint('wide') {
        display: block;
    }
}

.is-active.navigation {
    display: block;
    clear: both;
}
.skills-list {
    padding-top: 4rem;
}

.skill--styling {        background-image: url('/images/styling.svg'); }
.skill--js {             background-image: url('/images/js.svg'); }
.skill--taskmanagers {   background-image: url('/images/taskmanagers.svg'); }
.skill--vcs {            background-image: url('/images/vcs.svg'); }
.skill--programming {    background-image: url('/images/java.svg'); }
.skill--datastorage {    background-image: url('/images/datastorage.svg'); }
.skill--design {         background-image: url('/images/design.svg'); }
.skill--os {             background-image: url('/images/os.svg'); }
.skill--ide {            background-image: url('/images/ide.svg'); }
.skill--misc {           background-image: url('/images/misc.svg'); }
.skill--templating {     background-image: url('/images/html5.svg'); }

.skill {
    position: relative;
    margin-bottom: 1rem;
    background-size: 5rem;
    background-repeat: no-repeat;
    padding-left: 7rem;

    &:before {

    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: .5rem
    }

    &__content {
        padding-bottom: 2rem;
        color: #606060;
    }
}

.work__title {
    margin-bottom: 1rem;
}

.work__list {
    font-size: 1.6rem;
}


.band--featured .band__title {
    margin-bottom: 1rem;
}

.band--featured .band__intro {
    margin-bottom: 3rem;
}
