/**
 * 	Main website stylesheet.
 *
 *  susy docs: http://susydocs.oddbird.net/en/latest/shorthand/
 *
 */

// todo: susy, breakpoint, config, grid!

// Vendor libraries
@import 'vendor/normalise';
@import '../../bower_components/susy/sass/susy';

// Generic styles used on almost every page
@import 'common/variables';
@import 'common/mixins';
@import 'common/baseline';
@import 'common/typography';
@import 'common/helpers';
@import 'common/layout';

// Fully styled components that should work anywhere regardless of context
@import 'components/navigation';
@import 'components/button';
@import 'components/post';

// One off, page specific styles
@import 'specific/homepage';

.brand {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.sidebar {
  background-color: $brand;
  color: #FFF;

  width: $sidebar-width;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  padding: 30px;

  &__navigation {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.main-content {
  position: absolute;
  left: $sidebar-width;
  top: 0;
  bottom: 0;

  padding: 30px 40px;
  max-width: 790px;
}
