<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles/css/main.css" />
</head>
<body>
  <main class="wrapper" role="main">
    <div class="sidebar">
      <div class="photo">
        <img src="" alt="" class="photo__image">
      </div>
      <span class="brand">Daniel Moffat</span>

      <nav class="sidebar__navigation">
        <ul class="navigation">
          <li class="navigation__item">
            <a href="" class="navigation__item__link navigation__item__link--active">Home</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__item__link">Work</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__item__link">Blog</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__item__link">About</a>
          </li>
        </ul>
      </nav>

      <a href="" class="button button--primary">
        Download CV <span class="icon icon--download">x</span>
      </a>

      <a href="" class="button button--github">
        GitHub profile <span class="icon icon--github">x</span>
      </a>
    </div>
    <div class="main-content">
      <div class="post">
        <h1 class="post__title">This is a really cool blog post, that can have a long title, but can also have a much shorter one too.</h1>
        <div class="post__meta">
          <span class="post__meta__date">17th April 2016</span>
          <span class="post__meta__commentcount">33 Comments</span>
        </div>
        <div class="post__content">
          <p class="post__content__paragraph"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Tenetur atque, ducimus unde optio fugiat earum doloribus deleniti maiores, temporibus, saepe culpa aperiam incidunt facere illo magnam iusto officia. Est, eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolor debitis, ratione perferendis ut eaque. Voluptates sunt eos, deleniti officia sit eum, reprehenderit facilis porro, fugiat quidem, voluptate consectetur enim!</p>
          <h2 class="post__content__subtitle">This is a sub title</h2>
          <p class="post__content__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nesciunt corporis quis dolore dolores quibusdam, consequatur adipisci earum, eligendi fuga ipsum accusantium ducimus debitis quidem ratione. Odit possimus, perspiciatis error!</p>
          <h2 class="post__content__subtitle">This is a sub title</h2>
          <p class="post__content__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nesciunt corporis quis dolore dolores quibusdam, consequatur adipisci earum, eligendi fuga ipsum accusantium ducimus debitis quidem ratione. Odit possimus, perspiciatis error!</p>
        </div>
        <div class="post__comments">
          <p>Comments go here.</p>
        </div>
      </div>
    </div>
  </main>

	<script src="/scripts/main.js"></script>
</body>
</html>
