/**
 *  Common baseline styles that don't belong anywhere else.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto';

  color: #454545;
}

body {
  padding: 0;
  margin: 0;
}
