/**
 *  Helper classes
 */

.brand-bg {
  background-color: $brand;
}

.u-textCenter {
  text-align: center;
}

.u-displayBlock {
  display: block;
}

.u-positionRelative {
  position: relative;
}

.u-overflowHidden {
  overflow: hidden;
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-fluid {
    max-width: 100%;
}

.u-hiddenSmall {
    display: none;
    @include breakpoint('small') {
        display: inherit;
    }
}

.u-visibleMedium {
    display: block;

    @include breakpoint('small') {
        display: none;
    }
}
