/**
 *  Helper classes
 */

.brand-bg {
  background-color: $brand;
}

.u-textCenter {
  text-align: center;
}

.u-displayBlock {
  display: block;
}

.u-positionRelative {
  position: relative;
}

.u-overflowHidden {
  overflow: hidden;
}
