/**
 *  Layout.
 */

.container {
    // I don't like the fluid gutter provided by susy.
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint('large') {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include breakpoint('wide') {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }


  @include container(1140px);
}

.grid-row {
    @include breakpoint('large') {
        margin-left: -1.3888888889%;
        margin-right: -1.3888888889%;
    }

    overflow: hidden;
}

// Generic high level layout classes, these cannot be nested without passing the context
.grid-column--onethird {
    @include breakpoint('small') {
        @include span(4);
    }
}
.grid-column--twothirds {
    @include breakpoint('small') {
        @include span(8);
    }
}

.grid-column--quarter { @include span(3); }

.grid-column--half {

    @include breakpoint('medium') {
        @include span(6);
    }
}

.grid-column--half-2 { @include span(3 of 6); }
