/**
 *  Variables
 */

// Colors
$brand: #3b5997;
$primary: #ea3333;
$primary--dark: #a00000;
$secondary: #fff;
$secondary--dark: #5d5d5d;
$github: #8f8f8f;
$github--dark: #5d5d5d;

// Sizes
$sidebar-width: 300px;
