/**
 *  Variables
 */

$brand: red;

$scene-sky-day: #228ad1;
// #4a90e2
$scene-sky-night: #104685;
$scene-pavement: #d8d8d8;
$scene-sun: #FAF28A;

$primary: #1B8BD4;
$primary-muted: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
$primary-darker: darken($primary-dark, 10%);

$secondary: #454545;
$secondary-muted: lighten($secondary, 10%);

$inverse: #FFF;
$inverse-muted: darken($inverse, 10%);

$btn-primary-bg: $primary;
$btn-primary-border: darken($primary, 10%);
$btn-primary-text: #fff;


// Sizes
$sidebar-width: 300px;

// Breakpoints
$breakpoints: (
    small: 480px,
    medium: 768px,
    large: 992px,
    wide: 1200px
);

// Susy configuration
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  container: auto,
  container-position: center,
  gutters: 1/2,
  gutter-position: inside,
  columns: 12,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (

  ),
  use-custom: (
    rem: true
  )
);
