/**
 *  Specific styles for /
 */

.intro__cta {

}

.intro__title {
  padding-top: 35px;
  color: #FFF;
  font-weight: bold;
  font-size: 4.8rem;
  margin-top: 5rem;

  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.intro__subtitle {
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 100;
  margin-left: 4rem;
  margin-right: 4rem;
}

.band-breakout--primary {
  background-color: $primary;
  @include bleed-x(gutter() 1000px);
  @include bleed-y(60px 400px);
  padding-left: 60px;
}
