.scene {
  width: 100%;
  background-color: $scene-sky-day;
  position: relative;
  height: 450px;

  @include breakpoint('large') {
      height: 730px;
  }

  .intro {
    color: $inverse-muted;
    font-size: 3rem;
    font-weight: 100;

    opacity: 0;

    a {
      font-weight: 500;
      color: $inverse-muted;
    }
  }

}

.scene__skateboard {
  will-change: transform;
  transform: translate3d(-300px, 0px, 0px);
  position: absolute;
  bottom: -3px;
  width: 190px;
  animation: leftToRight 2s cubic-bezier(0, 0, 0.2, 1);
  animation-delay: 1s;
  animation-fill-mode: forwards;
  z-index: 3;
}

.scene__shrubbery {
  position: absolute;
  bottom: -167px;
  z-index: 1;
}
